<header class="cf fixed">
	<div class="row">
		<div class="pane base12">
			<div class="pane left heading-strap">
				<h1>Rhapsody <span>Data Services</span></h1>
			</div>
			<div class="pane right heading-links">
				<a href="#">Support</a>
				<a href="#">Contact</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pane base12">
			<a href="/" class="logo">Rhapsody Orchestrated Media</a>
		</div>
	</div>
</header><!-- end header -->

<div class="actions">
	<a href="#" class="toggle-grid">Toggle grid</a>
</div>