
<!DOCTYPE html>
<!--[if lt IE 7]>     <html class="no-js ie ltie10 ltie9 ltie8 ltie7 ie6" lang="en"> <![endif]-->
<!--[if IE 7]>        <html class="no-js ie ltie10 ltie9 ltie8 gtie6 gtie5 ie7" lang="en"> <![endif]-->
<!--[if IE 8]>        <html class="no-js ie ltie10 ltie9 gtie7 gtie6 gtie5 ie8" lang="en"> <![endif]-->
<!--[if IE 9]>        <html class="no-js ie ltie10 gtie8 gtie7 gtie6 gtie5 ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<!--(bake /templates/structure/html-header.html)-->
</head>

<body class="login">
<div><a href="#skipnav" class="skip">Skip to main content</a></div>

	<div id="wrapper" class="wrapper">

		<!--(bake /templates/structure/header-login.html)-->

			<div class="main off-area">
			    <a id="skipnav" tabindex="-1"></a>
			    		    	
			    	<div class="forgot-password-box">
			    		<h3>Forgotten Your Password</h3>

			    		<div class="inner cf">
			    			<div class="row">
				    			<label for="email">Enter your Email:</label>
				    			<input type="text" name="email" id="email">
				    		</div>
				    		<div class="row">
				    			<button type="submit" class="bttn primary">
				    				Submit
				    			</button>
				    		</div>
				    		<div class="row loader"></div>    		
			    		</div>			    		
			    	</div>

			</div><!-- .main -->
			<div class="push"></div>	
	</div><!-- .wrapper -->
	<footer>
  	<p>Copyright &copy; 2015 Rhapsody Media. All rights reserved.</p>
	</footer>
	<!--(bake /templates/structure/footer.html)-->

	<script type="text/javascript">
	'use strict';
		$(function () {
			var $doc = $(document),
					$treeParent = $('.parent'),
					$filesLink = $('.show-files'),
					$newProjectLink = $('.new-project'),
					$modalWindow = $('#alimir_bootmodal'),
					$addProjectBtn = $('#addProject'),

					toggleTree = function (e) {
						var $thisParent = $(this).parent();

						if ($thisParent.has('ul').length) {
							$thisParent.toggleClass('open');
						}
						e.preventDefault();
					},

					showFiles = function (e) {
						var $this = $(this);

						if ($this.hasClass('active')) {
							return
						} else {											
							/* Insert Call: get files */

							$filesLink.removeClass('active');
							$this.addClass('active');
						}				
						e.preventDefault();						
					},

					openModal = function (e) {
						$('.tab-content #login_tab').addClass('active fade in');
						$modalWindow.modal('show');
						e.preventDefault();
					},

					newProject = function (e) {
						var projectName = $('#project').val(),
								$validation = $('.error');

						if (projectName.length) {
							$('#project').val('');
							$modalWindow.modal('hide');
							console.log('created project: ' + projectName);
							/* Insert Call: create new project */

						} else {
							$modalWindow.addClass('animated shake');
							$('#project').focus();
						}					
						e.preventDefault();
					},

					modalOpenActions = function () {
						$(this).find($('#project')).focus();
					};

			/* show/collapse tree items */
			$treeParent.on('click', toggleTree);

			/* Show files */
			$filesLink.on('click', showFiles);

			/* Open modal */
			$newProjectLink.on('click', openModal);

			/* Create new project */
			$addProjectBtn.on('click', newProject);

			/* Once modal is open, focus text field */
			$modalWindow.on('shown.bs.modal', modalOpenActions);


			/* Close all children nodes on page load */
			$('.tree > li ').removeClass('open');
		});

	</script>

		<div id="alimir_bootmodal" class="modal fade" tabindex="-1" data-width="540" data-backdrop="static" data-keyboard="false" style="display: none;">
			<div class="tab-content">
				<div class="tab-pane active fade in" id="login_tab">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal">&#215;</button>
				    <h3>New Project</h3>
				  </div>
				  <div class="modal-body">
				    <div class="status"></div>
				    <div class="row-fluid control-group">
				    	<label>
				    		Name of project
				    	</label>
				    	<p class="error">Please enter a name</p>
				      <label>
				      	<input type="text" name="project" id="project" class="span12" value=""/>
				      </label>
				    </div>
			    </div>
			    <div class="modal-footer">
			    	 <a href="#" class="modal-cancel" data-dismiss="modal">Cancel</a>
			      <a name="addProject" id="addProject" class="bttn primary" data-loading-text="loading...">Add Project</a>
			     
			    </div>
		    </div>				
			</div>
		</div>

  </body>
</html>