@charset "CP850";

//colours
$orange: #ea6d2c;
$lightOrange: #f28f1f;
$white: #fff;
$beige: #c3c4af;
$maroon: #a73000;
$black: #000;
$offBlack: #333;
$red: #ff1c26;
$teal: #006e86;
$torquoise: #00708a;
$lightBlue: #a5c3c9;

$rhapsodyBlue: #a5c3c9;
$grey: #999999;


* {
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

html, body {
    height: 100%;
}

.ie7 html,.ie8 html {
    font-size: 10px
}

body,div,a,h1,h2,h3,h4,h5,h6,p,ul,ol,li,img,label,input,select,blockquote,fieldset,legend,form {
    margin: 0;
    padding: 0
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,video,picture {
    display: block
}

iframe {
    border: 0 solid transparent
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

.bold {
    font-weight: bold
}

span.hiddentext,h1.hiddentext {
    position: absolute;
    left: -9999px
}

.cf,.rwd .row .pane,.main {
    zoom: 1
}

.cf:before,.rwd .row .pane:before,.cf:after,.rwd .row .pane:after,.main:before,.main:after {
    content: "";
    display: table
}

.cf:after,.rwd .row .pane:after,.main:after {
    clear: both
}

.ltie8 .cf,.ltie8 .rwd .row .pane,.rwd .row .ltie8 .pane {
    zoom: 1
}

.mobile {
  display: none!important;
}

.actions {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

body {
    font-size: 100%;
    font-family: 'LatoRegular', Arial, Verdana;
    text-align: left;
    color: #000;
    letter-spacing: 0;

    &.overflow-visible {
      overflow-x: visible!important;
    }

    &.login {
      background: rgba($rhapsodyBlue, 0.1);
      text-align: center;
    }
}

a {
    text-decoration: none;
    color: #000;
}

a:hover,a:focus,a:active {
    text-decoration: none;
    color: $grey;
}

a:focus,a:active {
    outline: none
}

a img {
    border: 0
}

a:hover img {
    opacity: 0.5;
    filter: alpha(opacity=50)
}

img {
    border: none;
    max-width: 100%;
    display: block
}

strong {
  font-family: 'LatoBlack';
}

h1,h2,h3,h4 {
    font-weight: normal;
    font-family: Arial, Verdana;
    color: #000
}

h1 {
    font-family: 'LatoBlack';
    font-size: 26px;
    font-size: 2.6rem;
    line-height: 31px;
    line-height: 3.1rem;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
}

h2 {
    font-family: 'LatoBlack';
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 21px;
    line-height: 2.1rem;
}

h3 {
    font-family: 'LatoBlack';
    font-size: 20px;
    font-size: 2rem;
    line-height: 22px;
    line-height: 2.2rem;
    padding: 0;
    margin: 0 0 20px 0;
}

h4 {
    font-family: 'LatoBlack';
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 21px;
    line-height: 2.1rem;
    letter-spacing: 0.5px;

    span {
      font-family: 'LatoRegular';
      color: $rhapsodyBlue;      
    }
}

p {
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 32px;
    line-height: 3.2rem;    
    padding: 0 0 8px 0;
}

ul {
  list-style-type: none;

  &.tree {
    margin-top: 45px;
    border-top: 4px solid $rhapsodyBlue;

   > li {
      border-bottom: 1px solid $rhapsodyBlue;
      padding: 0;
      text-transform: uppercase;
      font-family: 'LatoBlack';
      font-size: 13px;
      font-size: 1.3rem;
      background: rgba($rhapsodyBlue, 0.1);
      cursor: pointer;          

      &.open {

        p {
          &:before {
            content: '\f023';
          }
        }
        ul { display: block; }        
      }

      a {
        display: block;
      }

      p {
        display: inline-block;
        padding: 0;
        width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;

        &:before {
          content: '\f01d';
          font-family: 'BlackTieSolid';
          font-size: 13px;
          font-size: 1.3rem;
          line-height: 32px;
          line-height: 3.2rem;
          display: inline-block;
          margin: 0 5px;
          vertical-align: top;
          color: $rhapsodyBlue;
        }
      }
      span {
        display: inline-block;
        line-height: 32px;
        line-height: 3.2rem;
        vertical-align: top;
        font-family: 'LatoRegular';
        color: $grey;
      }

      ul {
        display: none;

        li {
          font-family: 'LatoRegular';
          font-size: 13px;
          font-size: 1.3rem;        
          background: none;
          text-transform: none;
          background: $white;

          a {
            display: inline-block;
            padding: 0;
            width: 175px;
            line-height: 32px;
            line-height: 3.2rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: top;     

            &:before {
              content: '\F093';
              font-family: 'BlackTieSolid';
              font-size: 13px;
              font-size: 1.3rem;
              line-height: 32px;
              line-height: 3.2rem;
              display: inline-block;
              margin: 0 5px;
              vertical-align: top;
              color: $rhapsodyBlue;
            }

            &.new-project {
              @extend .new-project;
            }   
          }         

          a.active {
            font-family: 'LatoBold';
          }
        }
      }
    }

    &.files {
      > li {
        font-family: 'LatoRegular';
        cursor: auto;

        p {
          &:before {
            content: '';
          }
        }

        &:nth-of-type(even) {
          background: $white;
        }
      }
    }
  }
}

ul li,ol li {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    padding: 0;
    list-style-type: none;
}

.in-progress,
.delete,
.download {
  float: right;
  line-height: 32px;
  line-height: 3.2rem;
  margin: 0 5px;
  text-transform: none;

  &:hover, &:focus, &:active {
    &:before { color: $grey; }
  }

  &:before {
    font-family: 'BlackTieSolid';
    font-size: 13px;
    font-size: 1.3rem;
    line-height: 32px;
    line-height: 3.2rem;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: top;
    color: $rhapsodyBlue;
  }
}

.in-progress {
  &:before {
    content: '\F028'
  }
}

.delete {
  &:before {
    content: '\F00D'
  }
}

.download {
  &:before {
    content: '\f0a1'
  }
}

.new-project {
  &:before {
    content: '\F01C'
  }
}

.login-box, .forgot-password-box {
  width: 540px;
  display: inline-block;
  text-align: left;

  .row {
    padding: 0 5px;
    text-align: left;
    margin-bottom: 15px;
  }

  .bttn {
    margin: 10px 0 0 0;
    padding: 12px 32px 8px;
  }
}

.bttn {
  padding: 12px 12px 8px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 15px;
  line-height: 1.5rem;
  font-family: 'LatoBlack';
  border: none;
  background-color: $rhapsodyBlue;
  color: $white;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  width: auto;
  text-transform: uppercase;
  transition: all 0.4s ease;

  &:hover, &:focus, &:active {
    background-color: $grey;
    color: $white;
  }
}

.skip {
    position: absolute;
    left: -999em
}

a.skip:active,a.skip:focus {
    top: 0;
    left: 0;
    color: #fff;
    background: #01a7e3;
    font-size: 1.1em;
    display: block;
    padding: 0.4em;
    border: 0.1em solid #fff;
    white-space: nowrap;
    width: 14em;
    text-align: center;
    font-weight: bold
}

.fade-out {
  opacity: 0;
  z-index: 0;
}

.fade-in {
  opacity: 1;
}

.wrapper > header {
  padding: 25px 0 0 0;
  margin: 0 0 45px 0;
  width: 100%;
  background: $white;
  border-bottom: 8px solid $rhapsodyBlue;

  .pane {
    vertical-align: top;
  }

  .logo {
    display: inline-block;
    width: 155px;
    height: 47px;
    text-indent: -9999px;
    margin: 20px auto;
    transition: all 0.4s ease;
    background: url(../img/icons/logo.png) no-repeat left top transparent;
    // @include icons-sprite("logo");
  }
}

.heading-strap {
  h1 {
    color: $rhapsodyBlue;
    text-transform: uppercase;    

    span {
      font-family: 'LatoRegular';
      color: $black;
      text-transform: none;
      letter-spacing: 0;
    }
  }
}

.heading-links {
  a {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 14px;
    line-height: 1.4rem;
    font-family: 'LatoBlack';
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin-left: 25px;
  }
}

.intro {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 26px;
  line-height: 2.6rem;
}

.sub-intro {
  max-width: 860px;
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 33px;
  line-height: 3.3rem;
  margin-top: 20px;
}

.medium {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
}

.large {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 24px;
  line-height: 2.4rem;
  margin: 20px 0;
}

.x-large {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 26px;
  line-height: 2.6rem;
  margin: 20px 0 40px;
}


.center {
  text-align: center;
}

.wrapper-contact {
  display: inline-block;
  width: 400px;
  margin: 0 10px;
  vertical-align: top;

  .hp {
    // position: absolute;
    height: 0px;
    visibility: hidden;
  }

  .field-row {margin-bottom: 20px;}
  label {float: left;}

  .help, .req {
    float: right;
    transition: margin 0.4s ease;
  }
  .help {opacity: 0;}
  .req {opacity: 1;}

  .tick, .cross {
      font-family: 'ElegantIcons';
      font-size: 22px;
      font-size: 2.2rem;
      line-height: 37px;
      line-height: 3.7rem;
      color: $offBlack;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 40px;
      opacity: 0;
      transition: opacity 0.4s ease;
    }
  .cross {color: $red;}

  input {
    &[type="text"], &[type="email"], &[type="password"], &[type="tel"] {
      width: 100%;
      margin-top: 10px;
      transition: color 0.4s ease;
    }
  }

  textarea {
    width: 100%;
    height: 290px;
    margin-top: 10px;
    transition: color 0.4s ease;
  }

  .bttn {
    margin: 20px 0 40px;
    -webkit-appearance: button;
  }
}

.valid {
  .cross, .help {
    opacity: 0;
    margin-right: -100%;
  }
  .tick, .req {
    opacity: 1;
  }
}

.invalid {
  input {
    &[type="text"], &[type="email"], &[type="password"], &[type="tel"] {
      color: $red;
    }
  }
  textarea { color: $red; }
  .cross, .help {
    opacity: 1;
  }
  .tick, .req {
    opacity: 0;
    margin-right: -100%;
  }
}


.search-box::-webkit-input-placeholder {
  color: $black;
}

.search-box:-moz-placeholder {
  color: $black;
}

.search-box::-moz-placeholder {
  color: $black;
}

.search-box:-ms-input-placeholder {
  color: $black;
}

.loader {
  background: url("/assets/img/structure/loader.gif") no-repeat center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.1);
  margin: 0!important;
  padding: 0!important;
  z-index: 999;
  display: none;
}

.loading .loader {
  display: block;
}

.wrapper>header:before,.wrapper>header:after {
    content: "";
    display: table
}

.wrapper>header:after {
    clear: both
}

footer {
  width: 100%;
  margin: 0;
  padding: 10px 0;
  background-color: $rhapsodyBlue;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  height: 38px;

  p {
    display: inline-block;
    color: $white;
    padding: 0;
    font-size: 11px;
    font-size: 1.1rem;
    line-height: 18px;
    line-height: 1.8rem;
    text-transform: uppercase;
  }
}

.push {
  height: 58px;
}

.form-modal {
  opacity: 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  border-radius: 24px;
  top: 20%;
  width: 40%;
  background: rgba(50,50,50,0.75);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  right: 0;

  &.fade-in {
    opacity: 1;
    z-index: 10;
  }
}

#contactForm {
  position: relative;
  z-index: 9;
}



@media (max-width: 767px) {
  .login-box, .forgot-password-box {
    width: 100%;
    display: inline-block;
    text-align: left;

    .inner, .row {
      padding: 0 5px;
      margin-bottom: 15px;
      text-align: left;
    }

    input[type=text],
    input[type=password]{
      width: 100%;
    }

    .bttn {
      width: 100%;
    }
  }
}