  .wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto -38px;
    padding: 0;
    position: relative;
    box-sizing: content-box;
  }

  .row {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 0; //prevent gap between inline-block elements

    &.relative {
      position: relative;
    }

    &.pad-top {
      padding-top: 40px;
    }

    &.m-top {
      margin-top: 70px;
    }

    &.no-padding {
      padding-left: 0;
      padding-right: 0;
    }

    .pane {
      display: inline-block;
      //float: left;
      margin-left: 20px;
      text-align: left;
      vertical-align: top;

      &.dw-mgZero {
        margin-left: 0;
      }
      &:first-child {
        margin-left: 0;
      }
      &.relative {
        position: relative;
      }
      &.center {
        text-align: center;
      }
    }

    .gutterless .pane {
      margin-left: 20px;
    }
  }

  .row-action {
    margin-top: 30px;
  }
  .pane {
    &.base1 {
      width: 63px;
    }
    &.base2 {
      width: 146px;
    }
    &.base3 {
      width: 229px;
    }
    &.base4 {
      width: 312px;
    }
    &.base5 {
      width: 395px;
    }
    &.base6 {
      width: 478px;
    }
    &.base7 {
      width: 561px;
    }
    &.base8 {
      width: 644px;
    }
    &.base9 {
      width: 727px;
    }
    &.base10 {
      width: 810px;
    }
    &.base11 {
      width: 893px;
    }
    &.base12 {
      width: 976px;
    }
    &.base0 {
      width: 0;
      display: none;
    }
    &.dc1 {
      width: 63px;
    }
    &.dc2 {
      width: 146px;
    }
    &.dc3 {
      width: 229px;
    }
    &.dc4 {
      width: 312px;
    }
    &.dc5 {
      width: 395px;
    }
    &.dc6 {
      width: 478px;
    }
    &.dc7 {
      width: 561px;
    }
    &.dc8 {
      width: 644px;
    }
    &.dc9 {
      width: 727px;
    }
    &.dc10 {
      width: 810px;
    }
    &.dc11 {
      width: 893px;
    }
    &.dc12 {
      width: 976px;
    }
    &.dc0 {
      width: 0;
      display: none;
    }
  }

@media all and(max-width: 1023px) {
  .wrapper {
    width: 100%;
    margin: auto;
    padding: 0;
  }

  .row {
    padding: 0 5.5%;
    &.tp-margin, &.margin {
      padding-left: 28px;
      padding-right: 28px;
    }

    .pane {
      margin-left: 20px;
      &.dw-mgZero {
        margin-left: 20px;
      }
      &.tp-mgZero {
        margin-left: 0;
      }
      &.break-out {
        margin-left: -28px;
      }
    }
  }
  
  .pane {
    &.base1 {
      width: 41px;
    }
    &.base2 {
      width: 102px;
    }
    &.base3 {
      width: 163px;
    }
    &.base4 {
      width: 224px;
    }
    &.base5 {
      width: 285px;
    }
    &.base6 {
      width: 346px;
    }
    &.base7 {
      width: 407px;
    }
    &.base8 {
      width: 468px;
    }
    &.base9 {
      width: 529px;
    }
    &.base10 {
      width: 590px;
    }
    &.base11 {
      width: 651px;
    }
    &.base12 {
      width: 100%;
    }

    &.base0 {
      width: 0;
      display: none;
    }
    &.tp1 {
      width: 41px;
    }
    &.tp2 {
      width: 102px;
    }
    &.tp3 {
      width: 163px;
    }
    &.tp4 {
      width: 224px;
    }
    &.tp5 {
      width: 285px;
    }
    &.tp6 {
      width: 346px;
    }
    &.tp7 {
      width: 407px;
    }
    &.tp8 {
      width: 468px;
    }
    &.tp9 {
      width: 529px;
    }
    &.tp10 {
      width: 590px;
    }
    &.tp11 {
      width: 651px;
    }
    &.tp12 {
      width: 100%;
    }
    &.tp0 {
      width: 0;
      display: none;
    }
    &.tp-mTop {
      margin-top: 40px;
    }
  }  
}
@media all and(max-width: 767px) {

}
@media all and (max-width: 480px) {

}

.left {
  float: left;
}
.right {
  float: right;
}